<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header>
    <div class="jumbotron">
        <h1>Check Result</h1>
    </div>
</header>

<main>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="jumbotron text-white bg-dark">
                <p><b>The image you are checking:</b></p>
                <img src="data:image/png;base64, <%= img_check %>" alt="artwork">
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron text-white bg-dark">
                <p><b>Artwork in our blockchain:</b></p>
                <p><em>Similarity Percentage:</em> <%= resultpercentage %>%</p>
                <p><em>Title:</em> <%= artworktitle %></p>
                <p><em>Author:</em> <%= artworkauthor %></p>
                <p><em>Artwork:</em> <img src="data:image/png;base64, <%= img_upload %>" alt="artwork"></p>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <p class="text-center text-muted">© Copyright <script>document.write(new Date().getFullYear());</script> <%= title %></p>
</footer>
</body>
</html>
